<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.805438901984-ajbatcgbfccrge5anfbuc48jm3qi28mk</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>805438901984-ajbatcgbfccrge5anfbuc48jm3qi28mk.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProductSansRegular.ttf</string>
		<string>ProductSansBold.ttf</string>
	</array>
</dict>
</plist>
